<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
  	<script>
      $.get("http://jsonplaceholder.typicode.com/users/", function(req,resp){
         console.log("succsccful");
      } );		
 

  	</script>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
  </body>
</html>
